body {
    font-family: 'Kanit', sans-serif;
    background-color: #1b1b1b;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
}
/* unvisited link */
a:link {
color: hotpink;
text-decoration: none;
}

/* visited link */
a:visited {
color:  hotpink;
}

/* mouse over link */
a:hover {
color: hotpink;
text-decoration:underline;
}

/* selected link */
a:active {
color: blue;
}
